.container.profilePage
  .profilePage_user
    .profilePage_user_image
      -# avatar_imageメソッドの呼び出し
      = image_tag current_user.avatar_image
    .profilePage_user_basicInfo
      .profilePage_user_name
        .profilePage_user_displayName
          -# 一行で複数表示する場合、#{}で囲う
          -# I18n.t("xx")でenum.ja.ymlファイルの階層をたどり、xxの値を返す（仮にcurrent_user.gender = maleだと'男性'を返す）
          #{current_user.display_name} (#{current_user.age}・#{I18n.t("enum.genders.#{current_user.gender}")})
        .profilePage_user_actionButton
          = link_to 'Edit', edit_profile_path
      .profilePage_user_introduction
        = current_user.profile&.introduction

  -# ログインユーザの作成した記事一覧を表示
  - current_user.articles.each do |article|
    -# _article.html.hamlをコピペ
    = render 'commons/article', article: article

