<div class="container">
    <ul>
        <%# full_messages:エラーメッセージを配列で全て取得し、eachで1つずつ取り出す %>
        <% @article.errors.full_messages.each do |message| %>
            <%# エラーメッセージをリスト表示 %>
            <li><%= message %></li>
        <% end %>
    </ul>
    <%# form_withでフォームが作成される %>
    <%# form送信時の宛先を指定 model:どのモデルが対象か url:/articles/:idのpathを記述 method:methodを指定 「local: true」:送信したらページがリロードされる f=form:Railsが用意してくれるフォームを組み立てる道具 %>
    <%= form_with(model: @article, url: article_path(@article), method: 'put', local: true) do |f| %>
        <div>
            <%# :titleに対応したラベルを作成し「タイトル」と表示 %>
            <%= f.label :title, 'タイトル' %>
        </div>
        <div>
            <%# 自動でRailsがinputタグを作成する %>
            <%= f.text_field :title, class: 'text' %>
        </div>
        <div>
            <%# :contentに対応したラベルを作成し「内容」と表示 %>
            <%= f.label :content, '内容' %>
        </div>
        <div>
            <%= f.text_area :content, class: 'content' %>
        </div>
        <%= f.submit '保存', class: 'btn-primary' %>
    <% end %>
</div>