.article
  %h1.article_title= @article.title
  .article_detail
    = image_tag 'default-avatar.png'
    %div
      -# - if @article.user.present?（記事を書いたユーザが存在していれば実行（アカウント名を表示））を削除
      -# .user = Railsが自動でこの記事を書いたユーザを返す
      %p= @article.author_name
      %p= @article.display_created_at
    - if user_signed_in? && current_user.has_written?(@article)
      -# ログインしている&ログインユーザがこの記事を書いていれば実行（編集・削除ボタンを表示）
      .article_detail_actions
        .dropdown
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to '編集する', edit_article_path(@article)
            = link_to '削除する', article_path(@article), data: { turbo_method: 'delete', turbo_confirm: '本当に削除してもよろしいですか？' }
  .article_content
    = @article.content
  .article_heart
    = image_tag 'heart.svg'

-# コメント一覧の表示
.article
  %h2 コメント一覧
  - @comments.each do |comment|
    .article_comment
      -# コメント内容の表示
      %p= comment.content

.container
  -# オブジェクトを渡しているのにidに展開されるのはRailsが自動でやってくれているから
  = link_to new_article_comment_path(@article) do
    .btn-secondary
      コメントを追加