= link_to article_path(article) do
  .card
    -# attached?:画像がアップロードされているかどうか判定
    -# .eyecatchは空の枠のようなオブジェクトが存在する状態なので、nilにはならない=ぼっち演算子を使わなくてOK（エラーにならない）
    - if article.eyecatch.attached?
      .card_image
        = image_tag article.eyecatch
    .card_content
      .card_title
        = article.title
      .card_heart
        = image_tag 'heart.svg'
        -# いいね数の表示
        %span= article.like_count
      .card_detail
        -# avatar_imageメソッドの呼び出し
        = image_tag article.user.avatar_image
        %div
          -# 記事を書いたユーザが存在していれば実行（アカウント名を表示）を削除
          -# - if article.user.present?
          -# これだけだと、どれかの記事のユーザが存在しない場合、「undefined method `display_name' for nil」エラーになる（=userがnil）
          %p= article.author_name
          %p= article.display_created_at
